@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --theme-color: #85A947;
    --theme-color-darker: #3E7B27;
    --font-p: clamp(0.4rem, 2vw, 0.8rem);
    --font-sub-h: clamp(0.6rem, 3vw, 1.3rem);
    --font-h: clamp(1.8rem, 4.3vw, 3.4rem);
}

.mb-per-div > *
{
    margin-bottom: 1rem;
}

p
{
    color: var(--theme-color);
    font-size: var(--font-p);
}

h1
{
    color: var(--theme-color-darker);
    font-size: var(--font-h);
}

h2
{
    color: var(--theme-color-darker);
    font-size: var(--font-sub-h);
}