@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --theme-color: #85A947;
    --theme-color-darker: #3E7B27;
    --font-p: clamp(0.8rem, 2vw, 1rem);
    --font-h: clamp(1.8rem, 4.3vw, 3.4rem);
    --font-sub-h: clamp(0.6rem, 3vw, 1.3rem);
}

h1,h2,h3,h4,h5,h6
{
    color: var(--theme-color-darker);
    line-height: 1;
}

p
{
    color: var(--theme-color);
    font-size: var(--font-p);
    box-sizing: border-box;
    padding: 0px 50% 0px 0px; 
}

h1
{
    font-size: var(--font-h);
    margin: 0px 0px 18px 0px;
}

h2
{
    font-size: var(--font-sub-h);
    margin: 0px 0px 10px 0px;
}

button
{
    background-color: var(--theme-color-darker);
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 5px;
    color: white;
    box-shadow: 0px 10px 20px -12px rgba(0,0,0);
    transition: 0.1s ease-in-out;
}
button.btn-delete
{
    background-color: rgba(211, 29, 29, 0.904);
}

button:hover
{
    background-color: #85A947;
    transition: 0.1s ease-in-out;
}
button.btn-delete:hover
{
    background-color: rgba(211, 29, 29, 0.562);
}
button .size-5 {
    vertical-align: middle;
    display: inline-block;
  }

button:active
{
    background-color: var(--theme-color-darker);
}
button.btn-delete:active
{
    background-color: rgba(211, 29, 29, 0.904);
}

input {
    --input-border-width: 0.01rem;
    border: var(--input-border-width) solid var(--theme-color);
    border-radius: 6px;
    padding: 6px 6px 6px 28px;
    caret-color: var(--theme-color);
    font-size: 14px;
    width: 80%;
    transition: border-width 0.2s ease-in-out;
}

input::placeholder {
    font-size: 14px;
}

input:focus {
    border-color: var(--theme-color); /* Ensure consistent focus state */
    outline: none;
    border-width: var(--input-border-width) var(--input-border-width) 0.1rem var(--input-border-width);
}


.relative .Input-Icon
{
    position: absolute;
    top: 3px;
    left: 6px;
}

/* Toggle Wrapper */
.toggle {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
  }
  
  /* Hide Default Checkbox */
  .toggle input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The Slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 24px;
    transition: background-color 0.4s;
  }
  
  /* Slider Handle */
  .slider::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.4s;
  }
  
  /* Checked State */
  input:checked + .slider {
    background-color: #4caf50; /* Green when active */
  }
  
  input:checked + .slider::before {
    transform: translateX(26px); /* Move handle to the right */
  }
  
.siblings
{
    display: inline;
}

.lighter-color-Icon
{
    fill: #464444ec;
}